body{ background: #fff8dc;
  color: red;
  font-family: sans-serif;


}
.reclamo {font-size: 25px;}
.reclamo{text-align: center;}
.Bienvenido{text-align: center;}
.Bienvenido{text-decoration: underline;}
.vol{text-align: right;}
.vol{font-size: 25px;}
