body {

}
.rojito { color: red;}

.rojo {color:red;}

.preparar {color:blue;}

.crema {color:blue;}

.Montar {color:blue;}

.refrigerar {color:blue;}

.casero {font-size: 50px;}

.pagina {font-size: 20px;}

.contactos{font-size: 20px;}

.rojito{text-decoration: underline;}
.rojo{text-decoration: underline;}
.titlevideo{text-decoration: underline;}
.postres{text-decoration: underline;}
.casero{text-align: center;}
