body { background: #fff8dc;
  color: green;
  font-family: sans-serif;






}
.contactos {font-size: 20px;}
.volver{font-size: 20px;}
.principal{font-size: 20px;}
.telefono{font-size: 20px;}
.web{font-size: 20px;}
.pagcontacts{text-align: center;}
